<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnectionSQL" connectionString="Data Source=DESKTOP-K8JOR69; Initial Catalog=MCS; Trusted_connection = true;"/>
    <!--<add name="DefaultConnection" connectionString="Provider=SQLNCLI11;Server=192.168.110.7;Database=MCS;Uid=sa;Pwd=Mc123456;"/>-->
    <add name="DefaultConnectionOLEDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=accessDb_00.mdb;User Id=;Password=;"/>
  </connectionStrings>
  <appSettings>
    <add key="factorySQL" value="System.Data.SqlClient"/>
    <add key="factoryOLEDB" value="System.Data.OleDb"/>
    <add key="newEquipment" value="SELECT * FROM newEquipment"/>
  </appSettings>
</configuration>